<a href="https://colab.research.google.com/github/Zernach/BetterReads-DS/blob/master/How_to_Generate_Book_Recommendations_KNearestNeighbors_Model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
**KNN model of 10k dataset**


_using data found on kaggle from Goodreads_


_books.csv contains information for 10,000 books, such as ISBN, authors, title, year_


_ratings.csv is a collection of user ratings on these books, from 1 to 5 stars_

In [0]:
# imports


import numpy as pd
import pandas as pd
import pickle


from sklearn.neighbors import NearestNeighbors
from scipy.sparse import csr_matrix

import re

**Books dataset**

In [0]:
import psycopg2
engine = psycopg2.connect(
    database="betterreads",
    user="betterreadsadmin",
    password="betterreadsadmin",
    host="betterreads-datascience-database.cvmplnwee5ws.us-east-1.rds.amazonaws.com",
    port='5432')

/usr/local/lib/python3.6/dist-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

In [0]:
db_books = pd.read_sql_query("SELECT * FROM gb_data;", engine)
db_books['original_title'] = db_books['title']
db_books

            googleid  ...            original_title
0       PZ1cAAAACAAJ  ...  Black Berry, Sweet Juice
1       sWzxAAAAMAAJ  ...        The taste of metal
2       TbOgAAAAMAAJ  ...   Crete on the half shell
3       B5A7xgEACAAJ  ...                    Gloria
4       7Pd_QgAACAAJ  ...           Honey and Ashes
...              ...  ...                       ...
183153  V1duDmCqlPEC  ...   The Life of Helen Alone
183154  zi1Es2L5MvUC  ...        Normandie Triangle
183155  y7k6CQAAQBAJ  ...              Missing Time
183156  _0skthx0BLAC  ...    Perdido Street Station
183157  UVxJswEACAAJ  ...         Yiddish Folktales

[183158 rows x 20 columns]

In [0]:
books = pd.read_csv('https://raw.githubusercontent.com/zygmuntz/goodbooks-10k/master/books.csv')

In [0]:
print(books.dtypes)
print(db_books.dtypes)

book_id                        int64
goodreads_book_id              int64
best_book_id                   int64
work_id                        int64
books_count                    int64
isbn                          object
isbn13                       float64
authors                       object
original_publication_year    float64
original_title                object
title                         object
language_code                 object
average_rating               float64
ratings_count                  int64
work_ratings_count             int64
work_text_reviews_count        int64
ratings_1                      int64
ratings_2                      int64
ratings_3                      int64
ratings_4                      int64
ratings_5                      int64
image_url                     object
small_image_url               object
dtype: object
googleid           object
title              object
authors            object
publisher          object
publisheddate      object
description        object
isbn               object
pagecount         float64
categories         object
thumbnail          object
smallthumbnail     object
lang               object
webreaderlink      object
textsnippet        object
isebook              bool
averagerating     float64
maturityrating     object
ratingscount      float64
subtitle           object
original_title     object
dtype: object

In [0]:
merged_books = books.join(db_books, lsuffix='_google', rsuffix='_old')
merged_books.head()

   book_id  ...        original_title_old
0        1  ...  Black Berry, Sweet Juice
1        2  ...        The taste of metal
2        3  ...   Crete on the half shell
3        4  ...                    Gloria
4        5  ...           Honey and Ashes

[5 rows x 43 columns]

In [0]:
print(books.shape)
books.head()

(10000, 23)

   book_id  ...                                    small_image_url
0        1  ...  https://images.gr-assets.com/books/1447303603s...
1        2  ...  https://images.gr-assets.com/books/1474154022s...
2        3  ...  https://images.gr-assets.com/books/1361039443s...
3        4  ...  https://images.gr-assets.com/books/1361975680s...
4        5  ...  https://images.gr-assets.com/books/1490528560s...

[5 rows x 23 columns]

In [0]:
books['title'].isnull().sum()

0

**Ratings dataset**

In [0]:
ratings = pd.read_csv('https://raw.githubusercontent.com/zygmuntz/goodbooks-10k/master/ratings.csv')

In [0]:
print(ratings.shape)
ratings.head()

(5976479, 3)

   user_id  book_id  rating
0        1      258       5
1        2     4081       4
2        2      260       5
3        2     9296       5
4        2     2318       3

**Trim down the data**

_In order to make a user rating matrix we will only need bood_id and title._

In [0]:
cols = ['book_id', 'title']

books = books[cols]
books.head()

   book_id                                              title
0        1            The Hunger Games (The Hunger Games, #1)
1        2  Harry Potter and the Sorcerer's Stone (Harry P...
2        3                            Twilight (Twilight, #1)
3        4                              To Kill a Mockingbird
4        5                                   The Great Gatsby

**Clean up book titles**

_Book titles are messy, special characters, empty spaces, brackets clutter up the titles_

In [0]:
def clean_book_titles(title):
  title = re.sub(r'\([^)]*\)', '', title) # handles brackets
  title = re.sub(' + ', ' ', title) #compresses multi spaces into a single space
  title = title.strip() # handles special characters
  return title

In [0]:
books['title'] = books['title'].apply(clean_book_titles)

books.head()

   book_id                                  title
0        1                       The Hunger Games
1        2  Harry Potter and the Sorcerer's Stone
2        3                               Twilight
3        4                  To Kill a Mockingbird
4        5                       The Great Gatsby

**Create feature matrix**

_Combine datasets to get a new dataset of user ratings for each book_

In [0]:
books_ratings = pd.merge(ratings, books, on='book_id')

print(books_ratings.shape)

books_ratings.head()

(5976479, 4)

   user_id  book_id  rating                   title
0        1      258       5  The Shadow of the Wind
1       11      258       3  The Shadow of the Wind
2      143      258       4  The Shadow of the Wind
3      242      258       5  The Shadow of the Wind
4      325      258       4  The Shadow of the Wind

**Remove rows with same user_id and book title**

In [0]:
user_ratings = books_ratings.drop_duplicates(['user_id', 'title'])

print(user_ratings.shape)
user_ratings.head()

(5972713, 4)

   user_id  book_id  rating                   title
0        1      258       5  The Shadow of the Wind
1       11      258       3  The Shadow of the Wind
2      143      258       4  The Shadow of the Wind
3      242      258       5  The Shadow of the Wind
4      325      258       4  The Shadow of the Wind

**Pivot table to create user_ratings matrix**

_Each column is a user and each row is a book. The entries in the martix are the user's rating for that book._

In [0]:
user_matrix = user_ratings.pivot(index='title', columns='user_id', values='rating').fillna(0)

user_matrix.head()

user_id                                           1      2      ...  53423  53424
title                                                           ...
"حكايات فرغلي المستكاوي "حكايتى مع كفر السحلاوية    0.0    0.0  ...    0.0    0.0
#GIRLBOSS                                           0.0    0.0  ...    0.0    0.0
'Salem's Lot                                        0.0    0.0  ...    5.0    0.0
'Tis                                                0.0    0.0  ...    0.0    0.0
1,000 Places to See Before You Die                  0.0    0.0  ...    0.0    0.0

[5 rows x 53424 columns]

In [0]:
user_matrix.shape

(9800, 53424)

**Compress the matrix since it is extremely sparse**

_Whole lotta zeros_

_

In [0]:
compressed = csr_matrix(user_matrix.values)

In [0]:
# build and train knn

# unsupervised learning
# using cosine to measure space/distance

knn = NearestNeighbors(algorithm='brute', metric='cosine')

knn.fit(compressed)

NearestNeighbors(algorithm='brute', leaf_size=30, metric='cosine',
                 metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                 radius=1.0)

In [0]:
%%time

def get_recommendations(book_title, matrix=user_matrix, model=knn, topn=50):
    book_index = list(matrix.index).index(book_title)
    distances, indices = model.kneighbors(matrix.iloc[book_index,:].values.reshape(1,-1), n_neighbors=topn+1)
    print('Recommendations for {}:'.format(matrix.index[book_index]))
    for i in range(1, len(distances.flatten())):
        print('{}. {}, distance = {}'.format(i, matrix.index[indices.flatten()[i]], "%.3f"%distances.flatten()[i]))
    print()
    
get_recommendations("Harry Potter and the Sorcerer's Stone")
get_recommendations("Pride and Prejudice")
get_recommendations("Matilda")

Recommendations for Harry Potter and the Sorcerer's Stone:
1. Harry Potter and the Prisoner of Azkaban, distance = 0.320
2. Harry Potter and the Chamber of Secrets, distance = 0.327
3. Harry Potter and the Goblet of Fire, distance = 0.331
4. Harry Potter and the Order of the Phoenix, distance = 0.342
5. Harry Potter and the Half-Blood Prince, distance = 0.348
6. Harry Potter and the Deathly Hallows, distance = 0.349
7. The Hunger Games, distance = 0.410
8. The Hobbit, distance = 0.475
9. Twilight, distance = 0.477
10. The Fellowship of the Ring, distance = 0.507
11. To Kill a Mockingbird, distance = 0.507
12. The Lion, the Witch, and the Wardrobe, distance = 0.533
13. The Great Gatsby, distance = 0.558
14. Angels & Demons, distance = 0.559
15. Catching Fire, distance = 0.564
16. Pride and Prejudice, distance = 0.571
17. Mockingjay, distance = 0.583
18. The Golden Compass, distance = 0.586
19. 1984, distance = 0.586
20. Eragon, distance = 0.587
21. The Da Vinci Code, distance = 0.590
22. Animal Farm, distance = 0.595
23. The Catcher in the Rye, distance = 0.600
24. The Lightning Thief, distance = 0.601
25. The Giver, distance = 0.602
26. Lord of the Flies, distance = 0.602
27. A Game of Thrones, distance = 0.606
28. Romeo and Juliet, distance = 0.609
29. The Diary of a Young Girl, distance = 0.617
30. The Girl with the Dragon Tattoo, distance = 0.617
31. The Kite Runner, distance = 0.623
32. Divergent, distance = 0.627
33. The Lovely Bones, distance = 0.630
34. Memoirs of a Geisha, distance = 0.632
35. Of Mice and Men, distance = 0.634
36. Little Women, distance = 0.634
37. The Hitchhiker's Guide to the Galaxy, distance = 0.645
38. Where the Sidewalk Ends, distance = 0.649
39. Eclipse, distance = 0.649
40. New Moon, distance = 0.652
41. The Time Traveler's Wife, distance = 0.653
42. The Help, distance = 0.654
43. Jane Eyre, distance = 0.656
44. Breaking Dawn, distance = 0.661
45. Charlotte's Web, distance = 0.662
46. Fahrenheit 451, distance = 0.665
47. A Wrinkle in Time, distance = 0.666
48. Ender's Game, distance = 0.667
49. Life of Pi, distance = 0.673
50. The Adventures of Huckleberry Finn, distance = 0.675

Recommendations for Pride and Prejudice:
1. Jane Eyre, distance = 0.421
2. Sense and Sensibility, distance = 0.434
3. Little Women, distance = 0.519
4. To Kill a Mockingbird, distance = 0.520
5. Emma, distance = 0.533
6. The Great Gatsby, distance = 0.534
7. Wuthering Heights, distance = 0.537
8. Romeo and Juliet, distance = 0.570
9. Harry Potter and the Sorcerer's Stone, distance = 0.571
10. Persuasion, distance = 0.588
11. The Diary of a Young Girl, distance = 0.608
12. The Catcher in the Rye, distance = 0.610
13. Memoirs of a Geisha, distance = 0.625
14. 1984, distance = 0.626
15. The Hobbit, distance = 0.627
16. Gone with the Wind, distance = 0.629
17. The Hunger Games, distance = 0.630
18. Animal Farm, distance = 0.635
19. Twilight, distance = 0.636
20. Of Mice and Men, distance = 0.637
21. Lord of the Flies, distance = 0.637
22. The Adventures of Huckleberry Finn, distance = 0.645
23. The Kite Runner, distance = 0.645
24. The Lion, the Witch, and the Wardrobe, distance = 0.659
25. The Fellowship of the Ring, distance = 0.664
26. Anne of Green Gables, distance = 0.666
27. Harry Potter and the Prisoner of Azkaban, distance = 0.667
28. The Time Traveler's Wife, distance = 0.668
29. Harry Potter and the Deathly Hallows, distance = 0.669
30. Harry Potter and the Goblet of Fire, distance = 0.670
31. Harry Potter and the Order of the Phoenix, distance = 0.671
32. A Tale of Two Cities, distance = 0.672
33. The Secret Garden, distance = 0.673
34. Harry Potter and the Half-Blood Prince, distance = 0.674
35. The Lovely Bones, distance = 0.675
36. Harry Potter and the Chamber of Secrets, distance = 0.677
37. The Help, distance = 0.679
38. The Da Vinci Code, distance = 0.685
39. The Girl with the Dragon Tattoo, distance = 0.689
40. The Scarlet Letter, distance = 0.689
41. Mansfield Park, distance = 0.690
42. Great Expectations, distance = 0.690
43. Bridget Jones's Diary, distance = 0.693
44. Angels & Demons, distance = 0.696
45. Anna Karenina, distance = 0.701
46. Frankenstein, distance = 0.703
47. The Secret Life of Bees, distance = 0.707
48. Northanger Abbey, distance = 0.709
49. Brave New World, distance = 0.712
50. Life of Pi, distance = 0.712

Recommendations for Matilda:
1. The Witches, distance = 0.501
2. The BFG, distance = 0.525
3. James and the Giant Peach, distance = 0.540
4. Charlie and the Chocolate Factory, distance = 0.543
5. The Twits, distance = 0.689
6. Charlotte's Web, distance = 0.695
7. Where the Wild Things Are, distance = 0.731
8. Green Eggs and Ham, distance = 0.737
9. Charlie and the Great Glass Elevator, distance = 0.737
10. The Lion, the Witch, and the Wardrobe, distance = 0.741
11. The Giving Tree, distance = 0.741
12. Fantastic Mr. Fox, distance = 0.741
13. The Secret Garden, distance = 0.746
14. Bridge to Terabithia, distance = 0.746
15. The Cat in the Hat, distance = 0.747
16. George's Marvellous Medicine, distance = 0.749
17. Harry Potter and the Prisoner of Azkaban, distance = 0.752
18. Harry Potter and the Sorcerer's Stone, distance = 0.753
19. Holes, distance = 0.755
20. Harry Potter and the Goblet of Fire, distance = 0.756
21. Harry Potter and the Chamber of Secrets, distance = 0.757
22. The Very Hungry Caterpillar Board Book, distance = 0.760
23. Harry Potter and the Order of the Phoenix, distance = 0.760
24. Where the Sidewalk Ends, distance = 0.761
25. Harry Potter and the Half-Blood Prince, distance = 0.764
26. Harry Potter and the Deathly Hallows, distance = 0.765
27. Oh, The Places You'll Go!, distance = 0.768
28. Danny the Champion of the World, distance = 0.773
29. How the Grinch Stole Christmas!, distance = 0.773
30. The Lorax, distance = 0.775
31. A Wrinkle in Time, distance = 0.778
32. A Light in the Attic, distance = 0.781
33. To Kill a Mockingbird, distance = 0.783
34. Romeo and Juliet, distance = 0.786
35. The Giver, distance = 0.789
36. The Phantom Tollbooth, distance = 0.792
37. The Little Prince, distance = 0.794
38. Boy: Tales of Childhood, distance = 0.795
39. Alice's Adventures in Wonderland & Through the Looking-Glass, distance = 0.796
40. Goodnight Moon, distance = 0.796
41. The Diary of a Young Girl, distance = 0.797
42. The Hunger Games, distance = 0.798
43. Anne of Green Gables, distance = 0.799
44. Winnie-the-Pooh, distance = 0.802
45. Animal Farm, distance = 0.804
46. Pride and Prejudice, distance = 0.805
47. The Hobbit, distance = 0.805
48. Little Women, distance = 0.805
49. The Great Gatsby, distance = 0.806
50. Number the Stars, distance = 0.807

CPU times: user 200 ms, sys: 8.8 ms, total: 209 ms
Wall time: 203 ms

In [0]:
pickle.dump(knn, open('knn_model.pkl','wb'))